
= link_to 'このノートブックを編集する', edit_notebook_path(@notebook)

- @notes.each do |note|
  .note{ id: "note_#{note.id}" }
    = link_to '/editor' + note_path(note), class: 'note_link' do
      .title
        = note.title
    .body
      = strip_tags(note.body)[0..100]
